@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  color: #333;
  scroll-behavior: smooth;
  font-family: var(--font-geist-mono), monospace;
}

html,
body,
* {
}

h1,
h2 {
  font-family: var(--font-fraunces), serif !important;
}

.fraunces {
  font-family: var(--font-fraunces), serif !important;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
